# =========================
# Backend - Python
# =========================

cafe-backend/.venv/
cafe-backend/**/__pycache__/
cafe-backend/**/*.pyc

# Backend environment variables
cafe-backend/.env

# =========================
# Frontend - React / Vite
# =========================

kitchen-frontend/node_modules/
kitchen-frontend/dist/

# Frontend environment variables
kitchen-frontend/.env

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db
